@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
main {
  display: flex;
  min-height: 100vh;
}

.leftContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/img/cropped-857-1025-1053330.jpg);
  background-size: cover;
}

/* .leftContainer p,a{
    text-decoration: none;
    color: #EEFF00;
    display: none;
} */
.rightContainer {
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: "Pacifico", "Times New Roman", Times, serif;
  margin-top: 15rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
/* .credit{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
} */
.content {
  background: rgba(128, 128, 128, 0.081);
  padding-top: 250px;
  padding-left: 150px;
  font-size: 2rem;
  flex: 1;
  color: rgba(255, 255, 255, 0.808);
  background-color: rgb(0, 0, 0);
}
.formElement {
  background-color: rgba(0, 0, 0, 0.96);
  flex: 1;
  padding-left: 150px;
  padding-bottom: 25px;
  color: rgb(185, 185, 185);
}
h2 {
  color: rgb(228, 228, 228);
}
.formElementInside {
  display: flex;
}
.btn {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.95),
    black,
    black,
    black,
    black
  );
  flex: 1;
  padding-left: 150px;
  font-size: 1.3rem;
}
.formLeft {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.formRight {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  padding-bottom: 20px;
}

button {
  padding: 15px 40px 15px 40px;
  border: 4px solid #00eeff9c;
  border-radius: 0px 7px 0px 7px;
  color: #00eeff9c;
  background: transparent;
  font-size: 1.2rem;
  font-weight: bolder;
}
button:hover {
  background-color: #00eeff9c;
  border: 4px solid whitesmoke;
  color: whitesmoke;
}
input {
  min-width: 320px;
  font-size: 1.2rem;
  padding: 4px;
  margin-top: 4px;
  border-radius: 5px;
  background: transparent;
  color: whitesmoke;
  border: solid 1px #00eeff9c;
  outline: none;
}
input:focus {
  border: solid 2px #00eeff9c;
}
label {
  padding: 8px;
  color: #00eeff9c;
}
.btn a {
  font-size: large;
  text-decoration: none;
  color: #00eeff9c;
}
.btn a:hover {
  color: #f8f988;
}
.btn p {
  color: rgba(185, 185, 185);
}
